<% if logged_in? %>
	<div class="center">
	  <h1>Reddit on Rails</h1>
  </div>
    <div>
      <h3>Post Feed</h3>
			<ol class="posts">
				<%= render @posts %>
			</ol>
    </div>
<% else %>
	<div class="center jumbotron">
	  <h1>Welcome to Reddit on Rails</h1>

	  <h2>
	    This is the home page for <a href="http://masakazubando.com/">Masa</a> and <a href="https://www.google.com/?gws_rd=ssl#q=jordan+arnesen">Jordan's</a> sample application.
	  </h2>

	</div>
<% end %>