<h2>
<%= render 'users/profile_short', user: @user %>
- <%= @user.email %>
</h2>
<%= link_to "(edit user info)", edit_user_path %>
<div>
  <h3>Posts</h3>
	<ul class="posts">
		<%= render @posts %>
	</ul>
</div>
