<footer class="footer">
  <small>
    <a href="http://www.reddit.com/">Reddit</a> on Rails created
    by <a href="http://masakazubando.com/">Masakazu Bando</a> 
    and <a href="https://www.google.com/?gws_rd=ssl#q=jordan+arnesen">Jordan Arnesen</a>
  </small>
</footer>
